################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GithubActionsDemo/.vs/CopilotSnapshots
/GithubActionsDemo/.vs/CopilotIndices

# Ignore build output folders
bin/
obj/
